:root {
  --brand-color: #4d5ae5;
  --prime-font-family: "Roboto", sans-serif;
  --prime-text-color: #2e2f42;
  --alter-text-color: #e7e9fc;
  --hover-focus-color: #434455;
  --active-color: #4d5ae5;
}

body {
  font-family: var(--prime-font-family);
  color: var(--prime-text-color);
}

.rank-one {
  width: 1440px;
  height: 603px;
  background-color: var(--prime-text-color);
  color: #fff;
  font-size: 56px;
  font-weight: 500;
  line-height: 1.07;
  text-align: center;
}
.rank-two {
  font-family:var(--prime-font-family);
  color: var(--prime-text-color);
  font-size: 36px;
  font-weight: 500;
  line-height: 1.11;
}
.rank-three {
  font-family: var(--prime-font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.button-order {
  font-family: var(--prime-font-family);
  color: #fff;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  cursor: pointer;
  width: 170;
  height: 51;
}
.button-order:hover,
.button-order:focus {
  background-color: #404bbf;
  cursor: pointer;
}
.contacts {
  color: var(--prime-text-color);
  text-decoration: none;
}
.contacts:hover,
.contacts:focus {
  color: var(--brand-color);
}
.hhide {
  display: none;
}

.link {
  color: var(--prime-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
}

.paragraph {
  color: var(--prime-text-color);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.span {
  color: #4d5ae5;
}

.logo {
  color: var(--prime-text-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
}
.logo-bottom {
  background-color: var(--prime-text-color);
  color: var(--alter-text-color);
}

.nav-links {
  color: var(--hover-focus-color);
}

.nav-links .link:hover,
.nav-links .link:focus {
  color: var(--hover-focus-color);
}
.nav-links .link:active {
  color: var(--active-color);
}

.nav-links-active:none .button li {
  color: #e7e9fc;
}
.button {
  font-family: var(--prime-font-family);
  background-color: #e7e9fc;
  color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  height: 48;
}

.buttons .button:hover,
.buttons .button:focus {
  cursor: pointer;
  background-color: #404bbf;
  color: #ffffff;
}
.footer {
  background-color: var(--prime-text-color);
  color: var(--alter-text-color);
  font-size: 16px;
  line-height: 1.5;
}
.container {
  weight: 1440px;
  height: 310px;
}
.list {
  list-style: none;
}
.hero {
  background-color: var(--prime-text-color);
}
